<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <link
      href="https://font.elice.io/css?family=Elice+DX+Neolli"
      rel="stylesheet"
    />

    <style>
      html,
      body {
        font-family: "Elice DX Neolli", sans-serif;
      }
    </style>
    <title>음식 레시피 추가</title>
  </head>
  <body>
    <div class="container my-5">
      <div class="header mb-5">
        <h1 class="text-center">음식 레시피 추가</h1>
      </div>
      <form th:action="@{/posts/create(boardId=${boardId})}" method="post" enctype="multipart/form-data">
        <div class="mb-3">
          <label for="title">음식 이름</label>
          <input
            type="text"
            class="form-control"
            id="title"
            name="title"
            maxlength="30"
            placeholder="음식 이름 입력 (최대 30자)"
            required
          />
        </div>
        <div class="mb-3">
          <label for="content">레시피</label>
          <textarea
            class="form-control"
            id="content"
            name="content"
            placeholder="레시피 입력"
          ></textarea>
        </div>
        <div class="mb-3">
          <label for="file">이미지 업로드</label>
          <input type="file" class="form-control" id="file" name="file"/>
        </div>
        <div class="mb-3">
          <label for="userId">작성자 ID</label>
          <input
                  class="form-control"
                  id="userId"
                  name="userId"
                  maxlength="200"
                  placeholder="ID 입력"
          />
        </div>
        <button type="submit" class="btn btn-primary">업로드</button>
        <button type="button" class="btn btn-secondary" onclick="window.history.back();">취소</button>
      </form>
    </div>

    <!-- 부트스트랩 JS 추가 -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
